/*
*
* {{ getNameOfPage path }}
*
*/
import type { NextPage } from 'next';
import request from '@Utils/request';

interface Props{
  posts: any
}

const {{ getNameOfPage path }}: NextPage<Props> = ({ posts }) => {
  console.log(posts);
  return (
    <h1>Hello from {{ getNameOfPage path }}</h1>
  );
};

{{ getNameOfPage path }}.getInitialProps = async () => {
  const res = await request.get('/users');
  return { posts: res.data };
};

export default {{ getNameOfPage path }};
